version: '3.8'
name: ${PROJECT_NAME}
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    environment:
      - APP_ENV=${APP_ENV}
      - PUID=${PUID} # user nginx
      - PGID=${PGID} # group www-data
    volumes:
      - ./src/.:/var/www/html
    depends_on:
      - db
    ports:
      - "${APP_PORT:-443}:443"
      - "5173:5173"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    stop_grace_period: 1s
    networks:
      - laravel

  db:
    image: mysql:8.4.3
    container_name: db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./mysql:/var/lib/mysql
      - ./config/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3306:3306"
    networks:
      - laravel

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - laravel
    stop_grace_period: 1s
    profiles:
      - dev

networks:
  laravel:
    driver: bridge
